<div *ngIf="item ? item.name : item">
  <div class="jumbotron">
    <h1 class="display-4">{{getTitle()}}</h1>
    <hr class="my-4">
    <p class="lead">Размеры: {{item.size}}мм</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
            <img class="card-img-top" style="max-width: 40rem; cursor: zoom-in" src="../assets/img/{{item.img}}" alt="{{item.category}} {{item.name}}">
          <div class="card-footer">
            <div class="lead pr-4" style="display: inline-block; vertical-align: text-top;">Цена: <strong>{{item.price}}-00грн</strong></div>
            <a (click)="addToCart(item)" class="btn btn-primary btn-lg enabled" style="display: inline-block; color: white; cursor: pointer">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>