<div class="jumbotron">
  <h3 class="display-4">Лепнина из гипса!</h3>
  <p class="lead">гипсовые изделия | лепной декор: розетки, потолочные карнизы, порезки, кронштейны, гипсовые колонны и
    пилястры в ассортименте.</p>
  <hr class="my-3">
  <p>Гипсовый лепной декор - это то, что поможет вам создать индивидуальный облик интерьера и фасада любого помещения:
    котеджа, банка, офиса, квартиры. В декорировании гипсовой лепниной следует придерживаться комплексного подхода к
    дизайну интерьера, чтобы все элементы интерьера: столярка, ковка, светильники, мебель, паттерны обоев и текстиля, а
    также прочий декор сочетались друг с другом, гармонировали и были в одном ансамбле с декоративными элементами из
    гипса. Чтобы создать действительно прекрасный интерьер с элементами гипсовой лепнины, лучше сразу обратиться к
    профессионалам - дизайнерам интерьеров или архитекторам, которых, к слову, мы с радостью вам порекоммендуем.
    Специалисты смогут сделать эскизы и компьютерную визуализацию будущего интерьера или фасада с нашей лепниной, а
    также подобрать наиболее гармоничные сочетания мебели, дверей, обоев, декоративной штукатурки, светильников, штор и
    напольных покрытий.</p>
</div>


<div class="container">
  <div class="row">
    <div *ngFor="let item of getMenu(items)" class="col-xl-4 col-md-4 col-sm-6 py-2" style="cursor: pointer">
      <div routerLink="/catalog/{{item.type}}" class="card">
        <img class="card-img-top" src="../assets/img/{{item.img}}" alt="{{item.menu}}">
        <div class="card-body">
          <h3 class="card-title text-center lead"><strong>{{item.menu}}</strong></h3>
        </div>
      </div>
    </div>
  </div>
</div>